# MongoDB Connection URI
# Local instance (default):
MONGODB_URI=mongodb://127.0.0.1:27017/routeguard

# For MongoDB Atlas (Cloud), uncomment and fill in your credentials:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/routeguard?retryWrites=true&w=majority

# Database name
MONGODB_DB_NAME=routeguard

# Web Server Port & Host
PORT=5000
HOST=0.0.0.0
